#heading_area
	{
		background-color:black;	
		height:200px;
		margin:-15px 0px 5px 0px;		
	}

#logo
	{
		padding:50px;
		font-family:Alegreya Sans SC;
	}
	
#downey
	{
		background-color:lawngreen;
		border:1px solid lawngreen;
		padding:5px;
	}

#shoes
	{
		color:white;
		border:1px solid white;
		padding:5px;
	}

#about_us_title
	{
		color:white;
		font-family:Major Mono Display;
		text-align:center;
	}

ul
	{
		text-align:right;
		margin-right:20px;
	}
	
li
	{
		list-style:none;
		padding:5px;
		position:relative; bottom:200px;
	}
				
.navigation_menu
	{
		color:white;
		font-family:Ubuntu;
		text-decoration:none;
	}
				
.navigation_menu:hover
	{
		color:lawngreen;
	}

img
	{
		float:left;
	}
#paragraph_heading
	{
		font-family:Kanit;
		margin-left:640px;
	}

.paragraph
	{
		color:dimgray;
		font-family:Lexend Deca;
		text-align:justify;
		margin-right:20px;
		margin-left:640px;
	}